body{
    margin: 0;
    font-family:  'Crete Round', cursive;
}

h1{
    font-size: 55px;
    color: rgb(255, 255, 255);
    
}
h4{
    color: rgb(247, 242, 245);
    font-size: 20px;
    margin-top: 10px;
}
h6{
    color: rgb(245, 243, 244);
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: rgb(248, 247, 247);
}
.banner{
    background: #ff6e7f;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #bfe9ff, #ff6e7f);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #bfe9ff, #ff6e7f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}
.batata{
    text-align: center;
}
.menu{
    display: flex;
    flex-direction: row;
    margin: 0%;
    background:rgba(255, 252, 254, 0.5);
    justify-content: space-between;
}
.logo{
    background-image: url(logo.png);
    background-repeat: no-repeat;
    width: 132px;
    height: 40px;
    background-size: 132px 40px;
    position: absolute;
}
.lista{
    display: flex;
    justify-content: space-between;
}
.lista li{
    padding-left: 30px;
    
}
button{
    background-color: rgb(246, 93, 175);
    color: #fff;
    border: solid transparent 10px;
    border-radius: 20px;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
button:hover{
    background-color: rgb(153, 196, 233);
}
